*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1{
    width: 0px auto;
    display: block;
    margin: 0;
    padding:15px;
    text-align: center;
    color: white;
    font-size: 260%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 3px;
    margin-bottom: 20px;
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color:white;  
    border-radius: 50px; 
}
.btn-1:link,
.btn-1:visited{
    background-color: orange;
    border: 3px solid black;
      
}
.btn-2:link,
.btn-2:visited {
    border: 3px solid orange;    
}
.btn:hover,
.btn:active{
color: #D96C00;
    background-color: greenyellow;
    cursor: pointer;
    color: deeppink;
    border: 2px solid brown;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
header{
    height:100vh;
    padding:5px;
    margin:0px;
    width: 100%;
    display: block;
    border: 3px solid black; 
    justify-content: center;
    align-items:center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)),url(Images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.head{
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
html{
    background-color: #fff;
    color: aqua;
    font-size: 20px;
    font-weight: 300;
    
}

navbar
{
    display: block;
    width: 350px;
    height: auto;
    margin-left: 25px;
    margin-top: 200px;
    
}
